<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context ="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 <bean id="Fortune" class="com.yorane.springdemo.GreetFortuneService"> 
 </bean>
 <bean id="Mycoach" class="com.yorane.springdemo.BaseballCoach" scope="singleton">
  	<constructor-arg ref="Fortune"/>
 </bean>

<bean id="MyCricketCoach" class="com.yorane.springdemo.CricketCoach">
  	<property name="fortuneService" ref="Fortune"/>
  	<property name="email" value="myteam@gmail.com"/>
  	<property name="team" value="mumbai11"/>
  	
 </bean>
 
</beans>